/* Template override */
.navi ul.nav li a{
	padding:8px 20px;
}

header{
	.collapse{
		padding-top:10px;
		padding-bottom: 10px !important
	}
}

#poster{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background:0;
	height: 200px;
	.overlay{
		position: absolute;
		top:0;left:0;right:0;bottom:0;
		transition-duration:.2s;
		.thumb-xl{
			a{
				width:128px;
				height: 128px;
				background: #ccc;
				display: block;
				padding-top:45px;
				text-align: center;
				transition-duration:.2s;
			}
			a:hover{
				background: #ddd;
			}
		}
	}
	#btn-background{
		right: 10px;bottom:10px;
		position: absolute;
		z-index: 2;
	}
	#btn-background:hover + .overlay{
		background-color: rgba(32, 43, 54, 0.6);
	}
}

.image-placeholder{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.image-placeholder.thumb-xl{
	height: 128px;
}

#table-matches{
	.self{background: #f4f6f7}
	.hover:hover{background: #fafafa;cursor: pointer;}
	.match{
		padding:0;
		div{
			padding: 8px 15px;
		}
	}
}

.b-gray{border-color:#aaa}

.right-n{right: 0;}
.right-xs{right: 5px;}
.right-sm{right: 10px;}
.right{right: 15px;}
.right-md{right: 20px;}
.right-lg{right: 25px;}

.top-n{top: 0;}
.top-xs{top: 5px;}
.top-sm{top: 10px;}
.top{top: 15px;}
.top-md{top: 20px;}
.top-lg{top: 25px;}

.i-lg{
	font-size: 1.3333333333333em;
	line-height: 0.75em;
	vertical-align: -15%;
}

.item-wrapper a{
    display: inline !important;     
}

.item-wrapper{
    display: inline;
    position: relative;
    z-index: 99999;
}

    .item-wrapper form {
        position: absolute;
        top: -53px;
        background: #FFF;
        border: 1px solid #AAA;
        border-radius: 5px;
        padding: 7px;
        width: 220px;
        display: inline-block;
        left: 50%;
        margin-left: -110px;
        z-index: 101;
    }

    .item-wrapper form:before{
        content:"";
        width: 0; 
        height: 0; 
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;	
        border-top: 10px solid #AAA;
        position:absolute;
        bottom:-10px;
        left:100px;
    }

    .item-wrapper form:after{
        content:"";
        width:0;
        height:0;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;	
        border-top: 9px solid #FFF;
        position:absolute;
        bottom:-9px;
        left:101px;
    }

.editable-input{
     width:114px !important;   
}

select.editable-input{
 width: 114px; 
}

.bracket{
	padding:10px 20px;
	.bracket-round{
		padding-right: 10px;
		width: 25%;
		.bracket-group{
			padding:10px 0;
			.bracket-game{
				.bracket-team{
					text-align: left;
				}
				.bracket-team-hover{
					font-weight: bold;
				}
			}
		}
		&.bracket-level-2 .bracket-group{height: 50%;}
		&.bracket-level-3 .bracket-group{height: 25%;}
		&.bracket-level-1 .bracket-group{height: 100%;}
	}
}
